@import 'variables.css';

header {
	display: flex;
	align-items: center;
	justify-content: space-around;

	background-color: var(--darknest-color);
	color: var(--text-color);
}

.header__logo {
	margin: 25px;	
}

.header__logo a {
	font-size: 50px;
	color: var(--text-color);
	text-decoration: none;
}

.header__navigate ul {
	display: flex;

	margin: 0;
	padding: 0;
	gap: 25px;
	font-size: 25px;

	list-style-type: none;
}

.header__navigate li {
	margin: 0;

	transition: var(--opacity-transition);
}

.header__navigate li:hover {
	text-decoration: underline;
	cursor: pointer;
	opacity: var(--hover-opacity);
}

.header__navigate li:active {
	opacity: var(--active-opacity);
}

.header__search input {
	font-size: 17px;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
}

.header__account {
	background-color: var(--button-color);
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 25px;
	font-weight: bold;

	transition: var(--opacity-transition);
}

.header__account:hover {
	opacity: var(--hover-opacity);
	cursor: pointer;
	user-select: none;
}

.header__account:active {
	opacity: var(--active-opacity);
}

main {
	flex: 1;
}

.main__about-universe {
	display: flex;
	align-items: center;
	justify-content: space-around;

	margin: 50px;
}

.main__about-universe__logo {
	background-color: lightblue;

	width: 40vw;
}

.main__about-universe__short-description {
	background-color: pink;
	padding: 15px;
	text-align: justify;
	width: 40vw;
	font-size: var(--font-size);
}

footer {
	display: flex;
	justify-content: center;

	background-color: var(--darknest-color);
	color: var(--text-color);
	font-size: var(--font-footer-size);
	padding: 15px 0;
}